<h2 class="section-title">
   Alternative blocks
</h2>
<h4 class="subtext" style="font-size: 14px; margin-top: 0px; text-align:center">(no of alt blocks: {{no_alt_blocks}})</h4>
<div class="center glass-panel bg-surface border-primary backdrop-blur-md stack-panel">
    
      <table class="center" style="width:80%">
            <tr>
                <td>height</td>
                <td>age</td>
                <td>hash</td>
                <td>txs no</td>
            </tr>
            {{#blocks}}
            <tr>
                <td>{{height}}</td>
                <td>{{age}}</td>
                <td>{{hash}}</td>
                <td>{{no_of_txs}}</td>
            </tr>
            {{/blocks}}
        </table>


</div>
