
<div class="center glass-panel bg-surface border-primary backdrop-blur-md stack-panel">

    <H4 class="text-primary">{{t_block_block_hash_height}}: <span class="mono">{{blk_hash}}</span> ({{blk_height}})</H4>


    {{#have_prev_hash}}
    <H5>{{t_block_previous_block}}: <a href="/block/{{prev_hash}}?lang={{lang}}">{{prev_hash}}</a></H5>
    {{/have_prev_hash}}

    {{#have_next_hash}}
    <H5>{{t_block_next_block}}: <a href="/block/{{next_hash}}?lang={{lang}}">{{next_hash}}</a></H5>
    {{/have_next_hash}}



    <table class="center">
        <tr>
            <td>{{t_block_timestamp_utc_epoch}}:</td><td>{{blk_timestamp}} ({{blk_timestamp_epoch}})</td>
            <td>{{t_index_age}} {{age_format}}:</td><td>{{blk_age}}</td>
            <td>{{t_block_delta_hms}}:</td><td>{{delta_time}}</td>
        </tr>
        <tr>
            <td>{{t_block_major_minor_version}}:</td><td>{{major_ver}}.{{minor_ver}}</td>
            <td>{{t_block_miner_reward}}:</td><td class="value-positive">{{blk_reward}}</td>
            <td>{{t_block_block_size_kb}}:</td><td>{{blk_size}}</td>
        </tr>
        <tr>
            <td>{{t_block_nonce}}:</td><td>{{blk_nonce}}</td>
            <td>{{t_block_total_fees}}:</td><td>{{sum_fees}}</td>
            <td>{{t_block_no_of_txs}}:</td><td>{{no_txs}}</td>
        </tr>
        <tr>
            <td>{{t_block_reward_total}}:</td><td>{{blk_reward_total}}</td>
            <td>{{t_block_governance_tax}}:</td><td class="value-positive">{{governance_tax}}</td>
            <td>{{t_block_pow_mode}}:</td>
            <td>
                {{#is_cpu_block}}<span class="badge badge-cpu">{{t_index_cpu_randomx}}</span>{{/is_cpu_block}}
                {{#is_gpu_block}}<span class="badge badge-gpu">{{t_index_gpu_oracle}}</span>{{/is_gpu_block}}
            </td>
        </tr>
        <tr>
            <td>{{t_block_pow_hash}}:</td><td>{{blk_pow_hash}}</td>
            <td>{{t_block_difficulty}}:</td><td>{{blk_difficulty}}</td>
            {{#is_randomx}}
                <td colspan="2"><a href="/randomx/{{blk_height}}?lang={{lang}}">{{t_block_randomx_source_code}}</a></td>
            {{/is_randomx}}
            {{^is_randomx}}
                <td></td>
            {{/is_randomx}}
            <td></td>
        </tr>
        <tr>
            <td>Producer:</td>
            <td colspan="5">{{pow_layer}} · {{producer_type}} · {{producer_id}}</td>
        </tr>
    </table>

    <h3 class="section-title">{{t_block_miner_reward_transaction}}</h3>
    <table class="center">
        <tr>
            <td>{{t_index_transaction_hash}}</td>
            <td>{{t_index_outputs}}</td>
            <td>{{t_index_size_kb}}</td>
            <td>version</td>
        </tr>
        {{#coinbase_txs}}
            <tr>
                <td><a href="/tx/{{hash}}?lang={{lang}}">{{hash}}</a>
                <td>{{sum_outputs}}</td>
                <td>{{tx_size}}</td>
                <td>{{version}}</td>
            </tr>
        {{/coinbase_txs}}

    </table>



    <h3 class="section-title">{{t_block_transactions}} ({{no_txs}})</h3>
    {{#have_txs}}
        <table class="center" style="width:80%">
            <tr>
                <td>{{t_index_transaction_hash}}</td>
                <td>{{t_index_outputs}}</td>
                <td>{{t_index_fee_micro}}</td>
                <td>{{t_index_in_out}}</td>
                <td>{{t_index_size_kb}}</td>
                <td>version</td>
            </tr>
            {{#blk_txs}}
                <tr>
                    <td><a href="/tx/{{hash}}?lang={{lang}}">{{hash}}</a></td>
                    <td>{{sum_outputs}}</td>
                    <td>{{fee_micro}}</td>
                    <td>{{no_inputs}}/{{no_outputs}}</td>                    
                    <td>{{tx_size}}</td>
                    <td>{{version}}</td>
                </tr>
            {{/blk_txs}}
        </table>
    {{/have_txs}}    


    {{#enable_as_hex}}
        <h5 style="margin-top:1px">
            <a href="/blockhex/{{blk_height}}?lang={{lang}}">{{t_block_block_as_hex}}</a>
            | <a href="/blockhexcomplete/{{blk_height}}?lang={{lang}}">{{t_block_complete_block_as_hex}}</a>
        </h5>
    {{/enable_as_hex}}

</div>
