<h2 class="section-title">
   {{t_mempool_title}}
</h2>
<h4 class="subtext" style="font-size: 12px; margin-top: 0px; text-align:center">({{t_mempool_summary_prefix}}: {{mempool_size}}, {{t_mempool_summary_size}}: {{mempool_size_kB}} kB, {{t_mempool_summary_updated_every}} {{ mempool_refresh_time }} {{t_mempool_summary_seconds}})</h4>
<div class="center glass-panel bg-surface border-primary backdrop-blur-md stack-panel">
    
      <table class="center" style="width:80%">
            <tr>
                <td>{{t_mempool_age_hms}}</td>
                <td>{{t_index_transaction_hash}}</td>
                <td>{{t_mempool_fee_per_kb_micro}}</td>
                <!--<td>outputs</td>-->
                <td>{{t_index_in_out}}</td>
                <td>{{t_index_tx_size_kb}}</td>
            </tr>
            {{#mempooltxs}}
            <tr>
                <td>{{age}}</td>
                <td><a href="/tx/{{hash}}?lang={{lang}}">{{hash}}</a></td>
                <td>{{fee}}/{{payed_for_kB}}</td>
                <!--<td>{{xmr_outputs}}</td>-->
                <td>{{no_inputs}}/{{no_outputs}}</td>
                <td>{{txsize}}</td>
            </tr>
            {{/mempooltxs}}
        </table>

    {{^mempool_fits_on_front_page}}
      {{#partial_mempool_shown}}
      <div class="center" style="text-align: center; margin-bottom: 10px">
          <a href="/txpool?lang={{lang}}">{{t_mempool_only_partial_shown}} {{no_of_mempool_tx_of_frontpage}} {{t_mempool_partial_suffix}}</a>
      </div>
      {{/partial_mempool_shown}}

    {{/mempool_fits_on_front_page}}


</div>
