<h2 class="section-title">
   {{t_mempool_title}}
</h2>
<h4 class="subtext" style="font-size: 14px; margin-top: 0px; text-align:center"></h4>
<div class="center info glass-panel bg-surface border-primary backdrop-blur-md stack-panel" style="text-align: center;width:80%;color:#949490">
    
   <p>{{t_mempool_error_intro_1}}
    {{t_mempool_error_intro_2}}
       {{#network_info}}{{^is_pool_size_zero}}({{tx_pool_size}} txs){{/is_pool_size_zero}}{{/network_info}}
       {{t_mempool_error_intro_3}}
    {{t_mempool_error_intro_4}}
    {{t_mempool_error_intro_5}} <a href="/txpool?lang={{lang}}">{{t_mempool_error_memory_pool}}</a>
    </p>



</div>
