<div>
    <div class="center">
        <br/>
        <h3 class="center">{{t_rawoutputkeys_title}}</h3>
    </div>


    <div class="center">
        <form action="/checkrawoutputkeys?lang={{lang}}" method="post" style="width:100%; margin-top:15px" class="style-1">
            {{t_rawoutputkeys_intro}}<br/>
            {{t_rawoutputkeys_linux_hint}}<br/>
            {{t_rawoutputkeys_windows_hint}}<br/>
            <textarea name="rawoutputkeysdata" rows="20" cols="80"></textarea><br/><br/>
            {{t_rawoutputkeys_viewkey_label}}
            <br/>
            {{t_rawoutputkeys_server_note}}
            <br/>
            <input type="text"  name="viewkey" size="80">
            <br/>
            <button type="submit" name="action" value="check">{{t_common_check}}</button>
        </form>
    </div>


</div>