<div>

    <div class="center">
        <br/>
        <h3 class="center">{{t_rawtx_title}}</h3>
    </div>


    <div class="center">
        <form action="/checkandpush?lang={{lang}}" method="post" style="width:100%; margin-top:15px" class="style-1">
            {{t_rawtx_intro_1}}<br/>
            {{t_rawtx_intro_2}}<br/>
            {{t_rawtx_intro_3}}<br/>
            <br/>
            {{t_rawtx_linux_hint}}<br/>
            {{t_rawtx_windows_hint}}<br/>

            <textarea name="rawtxdata" rows="20" cols="80"></textarea>
            <br/>
            {{t_rawtx_note_server_side}}
            <br/>
            {{t_rawtx_note_check_hex}}
            <br/>
            <button type="submit" name="action" value="check">{{t_common_check}}</button>
            &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="submit" name="action" value="push">{{t_common_push}}</button>
        </form>
    </div>

    <br/>
</div>
