
<div class="center">
     <h3 style="font-size: 12px; margin-top: 20px">
     {{#refresh}}
         <a href="/tx/{{tx_hash}}?lang={{lang}}">{{t_index_autorefresh_on}}</a>
     {{/refresh}}
     {{^refresh}}
        <a href="/tx/{{tx_hash}}/autorefresh?lang={{lang}}">{{t_index_autorefresh_off}}</a>
     {{/refresh}}
     </h3>
</div>

<div>

    {{#has_error}}
        <h4 style="color:red">{{t_common_attempt_failed}}</h4>
        {{#error_tx_not_found}}
            <h4>{{t_tx_not_found_prefix}} {{tx_hash}} {{t_tx_not_found_suffix}}</h4>
            <div class="center" style="text-align: center;width:80%">
                <p> {{t_tx_not_found_hint_1}}
                    {{t_tx_not_found_hint_2}}
                    <br/><br/>
                    {{t_tx_not_found_hint_3}}
                </p>
            </div>
        {{/error_tx_not_found}}
    {{/has_error}}
    {{^has_error}}
        {{#txs}}
            {{>tx_details}}
        {{/txs}}
    {{/has_error}}
</div>
